{% set curPage = 'addfeedback'%}
{% set title = 'Add Feedback'%}
{% include 'public/shared/header.html'%}

<div class="banner" style="background-color: #1d1d1d;height:200px;">
  <div class="container">
    <div class="d-flex justify-content-center align-content-center align-items-center" style="height: 200px;">
      <div>
        <h3 class="text-center" style="color: #040404;">Post your Feedback</h3>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container my-5 border p-3 shadow">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade w-50 show" role="alert">
      {{message}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
      <div class="col-md-6">
        <form action="/add-feedback" method="post">
          <div class="form-group">
            <label for="">Feedback</label>
            <textarea name="feedback" id="feedback" class="form-control" required></textarea>
          </div>
          <input type="hidden" name="roomId" value="{{roomId}}">
          <input type="submit" class="btn btn-sm btn-primary form-control" value="Post Feedback">
        </form>
      </div>
      
    </div>
  </div>

</section>



{% include 'public/shared/footer.html'%}