{% set curPage = 'rooms'%}
{% set title = 'Rooms'%}
{% include 'admin/shared/header.html'%}

<div id="content">
  <!-- Top Nav  -->
  {% include 'admin/shared/topnav.html'%}

  <div class="heading">
    <h3 class="title">{{title}}</h3>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade w-50 show" role="alert">
    {{message}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <a href="add-room" class="btn btn-success float-right">+ Add Room</a>

  <div class="table-responsive mt-5">   
  
    <!-- View Rooms -->
    <table class="table table-bordered" id="table">
      <thead>
        <tr>
          <th style="width: 10%;">S.No</th>
          <th style="width: 20%;">Room Image</th>
          <th>Room Type</th>
          <th>Bed Type</th>
          <th>Price P/N</th>
          <th>amenities</th>
          <th style="width: 10%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
        {% set roomType = getRoomTypeById(room['roomTypeId'])%}
        <tr>
          <td>{{loop.index}}</td>
          <td> <a href="../../static/uploads/{{room['roomImagePath']}}" target="_blank">
            <img src="../../static/uploads/{{room['roomImagePath']}}" alt="" style="width: 100%;height: 100px;">
          </a></td>
          <td>{{roomType['roomType']}}</td>
          <td>{{room['bedType']}}</td>
          <td>{{room['pricePerNight']}}</td>
          <td>{{room['amenities']}}</td>
          <td>
            <a href="edit-room?roomId={{room['_id']}}" class="btn btn-sm btn-primary w-100">Edit</a>
            <a href="feedbacks?roomId={{room['_id']}}" class="btn btn-sm btn-info w-100 mt-1">Feedbacks</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% include 'admin/shared/footer.html'%}